# Scene generation configuration parameters

data_dir: "/assets"
out_dir: "/results/scenes"
n_proc: 16
n_samples: 3000
blacklist: "asset_blacklist.txt"

s3:
  bucket_name: "prior-datasets"
  data_prefix: "semantic-grasping/acronym/"
  annotation_prefix: "semantic-grasping/annotations-filtered/"

datagen:
  # Room parameters
  min_wall_dist: 2.0  # meters
  room_width_range: [4.0, 10.0]  # meters
  room_depth_range: [4.0, 10.0]  # meters

  # Camera parameters
  cam_dfov_range: [60.0, 90.0]  # degrees
  cam_dist_range: [0.7, 1.3]  # meters
  cam_pitch_perturb: 0.02  # as fraction of fov
  cam_yaw_perturb: 0.05  # as fraction of fov
  cam_roll_perturb: 0.39269908169872414  # radians
  cam_elevation_range: [0.39269908169872414, 1.0471975511965976]  # radians

  # Image parameters
  img_size: [480, 640]  # (height, width)
  n_views: 10
  min_annots_per_view: 1

  # Object parameters
  n_objects_range: [4, 6]
  n_background_range: [4, 6]
  max_grasp_dist: 2.0  # meters

  # Lighting parameters
  color_temp_range: [2000.0, 10000.0]  # kelvin
  light_intensity_range: [10.0, 40.0]
  light_azimuth_range: [0.0, 6.283185307179586]  # radians
  light_inclination_range: [0.0, 1.0471975511965976]  # radians
