.annotation-form {
    background-color: #fdf5e6; /* light tan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.info-icon {
    margin-right: 3px;
    width: 0.8em;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

textarea, input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.object-description-input {
    height: 5em;
}

.grasp-description-input {
    height: 10em;
}

input[type="checkbox"] {
    margin-left: 10px;
}

select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-label {
    white-space: nowrap;
    margin-right: 8px;  /* Add some spacing between label and input */
}
