body {
    background-color: #fdf5e6; /* light tan */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.App {
    max-width: 80%;
    margin: 0 auto;
}

.ai2-header {
    color: #ff69b4;
    font-family: Arial, Helvetica, sans-serif;
}

.App-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}

.App-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.done-body {
    text-align: center;
    color: #ff69b4;
}

.info-body {
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    width: fit-content;
}

.info-content p {
    margin: 10px 0;
    font-size: 16px;
    white-space: nowrap;
}
