.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tutorial-popup {
  background: #fdf5e6;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: 70vh;
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.tutorial-content {
  overflow-y: auto;
  height: 100%;
}

.tutorial-image {
  height: 15em;
  width: auto;
  display: block;
  margin: 20px auto;
}

blockquote {
  border-left: 4px solid #ff69b4;
  padding-left: 10px;
  margin-left: 0;
  color: #555;
}

.dimmed {
  filter: blur(2px);
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}
